@import "_variables", "_mixins";

/* xs */
@media (max-width: 767px) {
	header {
		height: 45rem !important;

		h1 {
			margin-top: 0;

			color: #fff;
			text-transform: uppercase;
			text-align: center;
			font-weight: 700;
			font-family: $font-headings;
			font-size: 6rem;
			text-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.35);
		}
	}

	aside {
		margin: -5rem 0 $spacing-lg 0;
	}

	nav {
		.nav__item {
			.dropdown {
				margin: auto $spacing auto auto;

				.navbar-toggle {
					float: none;
					margin: 0 !important;

					border-color: rgba(255, 255, 255, 0.4);
					background-color: rgba(255, 255, 255, 0.15);
					text-align: right !important;

					@include rounded($border-radius);

					.icon-bar {
						background-color: #fff;

						@include rounded($border-radius);
					}
				}

				.dropdown-menu {
					right: 0;
					left: auto;

					@include rounded($border-radius);

					li {
						a {
							font-family: $font-primary;
							font-weight: 400;
							font-size: $font-size-md;
							color: $color-brand-secondary;
							text-shadow: none;
							text-transform: none;
							text-align: right;
						}
					}
				}
			}

			a {
				&.brand {
					margin: 0 !important;
				}
			}
		}
	}

	footer {
		.copyright {
			text-align: center;
		}

		.gca {
			width: 100%;

			background-position: top center;
		}
	}

	.callouts {
		flex-direction: column;

		&.callouts__cascade {
			align-items: flex-start;
		}

		.callout__item {
			width: 100%;
			min-height: auto;
			margin-bottom: $spacing-lg;

			.callout__image {
				border-top: none;
			}

			&.center {
				order: 1;
			}

			&.left {
				order: 2;
			}

			&.right {
				order: 3;
			}

			&.left, &.right {
				@include rounded($border-radius);
			}

			&.highlight {
				min-height: auto;

				@include box-shadow(0 0.25rem 1rem rgba(0, 0, 0, 0.25));
			}
		}
	}

	.cards {
		flex-direction: column;
		margin: $spacing-lg 0;

		.card {
			width: 100%;
			min-height: auto;
			margin: $spacing 0;
		}
	}

	.event {
		flex-direction: column;

		&.reverse {
			flex-direction: column;

			.event__image {
				padding: 0 0 $spacing 0 !important;
			}
		}

		.event__image {
			flex: 1 1 100%;
			margin: 0 auto;
			padding: 0 0 $spacing 0 !important;
		}

		.event__block {
			flex: 1 1 100%;
		}
	}
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	.event {
		.event__image {
			flex: 2 0 35%;
		}

		.event__block {
			flex: 1 1 auto;
		}
	}
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {}

/* lg */
@media (min-width: 1200px) {}
