@import "_variables", "_fonts", "_mixins";

html {
	font-size: 62.5% !important;
}

body {
	line-height: 1.75;

	font-size: $font-size;
	font-family: $font-primary;
}

header {
	background-color: transparent;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-image: url(../images/bg.jpg);
	background-size: cover;
	color: #fff;

	&.home {
		height: 55rem;
	}

	&.page {
		height: 30rem;
	}

	nav {
		display: flex;
		justify-content: space-between;
		padding: 3rem 0;

		.nav__item {
			display: flex;
			flex: 1 1 20%;
			align-items: center;

			a {
				display: block;
				margin: 0 auto;

				font-family: $font-condensed;
				font-weight: 400;
				font-size: 1.8rem;
				color: rgba(255, 255, 255, 0.7);
				letter-spacing: 0.1rem;
				text-transform: uppercase;
				text-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.4);

				&:hover {
					color: white;
					text-decoration: none;
				}

				&:active, &:focus {
					color: rgba(255, 255, 255, 0.7);
					text-decoration: none;
				}

				&.brand {
					display: block;
					margin: 0 auto;
					height: 10rem;
					width: 10rem;

					background-color: transparent;
					background-repeat: no-repeat;
					background-position: center center;
					background-image: url(../images/logo-formal-new.png);
					background-size: 10rem 10rem;
					background-clip: content-box;
				}
			}
		}
	}
}

aside {
	position: relative;
	margin: -20rem 0 5rem 0;
}

main {
	position: relative;
	margin: -5rem 0 0 0;

	h1, h2, h3, h4 {
		margin-bottom: $spacing;

		font-family: $font-headings;
	}

	h1 {
		margin: 0 0 $spacing-lg 0;

		font-weight: 300;
		font-size: 5.4rem;
		color: $color-brand-primary;
	}

	h2 {
		font-weight: 400;
		font-size: 4rem;
		color: $color-brand-secondary-dark;
	}

	h3 {
		font-weight: 300;
		font-size: 3rem;
		color: $color-brand-secondary;
	}

	h4 {
		font-weight: 400;
		font-size: 2.25rem;
		color: darken($color-brand-secondary-bright, 25%);
	}

	p {
		margin: 0 0 $spacing 0;
	}

	dl {
		dt {
			margin-bottom: $spacing-sm;

			font-size: $font-size-md;
			font-weight: 500;
		}

		dd {
			margin: 0 0 $spacing $spacing;

			font-size: $font-size;
		}
	}

	section {
		padding: $spacing-lg 0;

		&:first-child {
			padding-top: 0;
		}

		&.meet-brian {
			background-color: transparent;
			background-position: center left;
			background-repeat: no-repeat;
			background-image: url(../images/Coach-Roberston_golf_Stater_9897.jpg);
			background-size: cover;
		}

		&.events {
			background-color: #eaeaea;
		}

		&.tour-experience-morning {
			background-color: transparent;
			background-position: bottom right;
			background-repeat: no-repeat;
			background-image: url(../images/tour1.jpg);
			background-size: cover;
		}

		&.tour-experience-afternoon {
			background-color: transparent;
			background-position: center left;
			background-repeat: no-repeat;
			background-image: url(../images/tour2.jpg);
			background-size: cover;
		}

		.section__content {
			padding: $spacing-lg;

			background-color: #fafafa;
			border-bottom: 0.5rem solid $color-brand-primary;

			@include rounded($border-radius);
			@include box-shadow(0 0.5rem 1.75rem rgba(0, 0, 0, 0.4));

			h2 {
				margin-top: 0;
			}
		}
	}
}

footer {
	padding: $spacing-lg 0;
	line-height: 1.65;

	background-color: $color-brand-secondary;
	color: darken($color-brand-secondary-bright, 20%);

	.footer__title {
		font-family: $font-condensed;
		font-weight: 400;
		color: #fff;
		color: $color-brand-secondary-bright;
		font-size: $font-size-md;
	}

	p, li {
		font-size: $font-size-sm;
	}

	ul {
		li {
			a {
				padding-bottom: 0.1rem;

				color: darken($color-brand-secondary-bright, 10%);
				border-bottom: 0.1rem dotted $color-brand-secondary-dark;

				&:hover {
					border-bottom-style: solid;
					color: $color-brand-secondary-bright;
					text-decoration: none;
				}
			}
		}
	}
}

.btn {
	font-weight: 400;

	@include rounded($border-radius);

	&.btn-primary {
		@include btn-pseudo-states(#fff, $color-brand-primary, $color-brand-primary);
	}

	&.btn-default {
		@include btn-pseudo-states(
			$color-brand-secondary-dark,
			lighten($color-brand-secondary-bright, 4%),
			lighten($color-brand-secondary-bright, 4%)
		);
	}

	&.btn-warning {}

	&.btn-success {}

	&.btn-info {}

	&.btn-danger {}

	&.btn-inverse {
		@include btn-pseudo-states(#fff, $color-brand-secondary, $color-brand-secondary);
	}

	&.btn-link {
		&.btn-link-warning {
			color: $color-warning;
		}
	}
}

.text-muted {
	color: darken($color-brand-secondary-bright, 25%);
}

.gca {
	display: block;
	margin: 2.5rem 0;
	height: 1.8rem;
	width: 20rem;

	background-color: transparent;
	background-position: top left;
	background-repeat: no-repeat;
	background-image: url(../images/gca.png);

	&.gca-sm {
		background-image: url(../images/gca-sm.png);
	}

	&.gca-lg {
		background-image: url(../images/gca-lg.png);
	}
}

.callouts {
	display: flex;
	margin: $spacing-lg 0;

	&.callouts__cascade {
		align-items: center;
	}

	.callout__item {
		display: flex;
		flex: 1 1 0%;
		flex-direction: column;
		z-index: 100;
		min-height: 45rem;

		background-color: #fafafa;
		border-bottom: 0.5rem solid $color-brand-secondary-dark;

		@include box-shadow(0 0.25rem 1rem rgba(0, 0, 0, 0.25));

		.callout__image {
			height: 18rem;
			width: 100%;

			background-color: transparent;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			border-top: 0.5rem solid white;

			@include border-radius($border-radius, $border-radius, 0, 0);
		}

		.callout__body {
			display: flex;
			flex: 1 1 auto;
			flex-direction: column;
			justify-content: space-between;

			.callout__content {
				padding: $spacing;

				.callout__title {
					margin: 0 0 $spacing 0;

					text-align: center;
					font-weight: 400;
					font-family: $font-headings;
					font-size: 2.4rem;
					color: $color-brand-secondary;
				}
			}

			.callout__footer {
				padding: $spacing;

				small {
					display: block;
					margin-top: 0.5rem;
				}
			}
		}

		&.left {
			@include border-radius($border-radius, 0, 0, $border-radius);

			.callout__image {
				background-image: url(../images/jim_mclean.jpg);
			}
		}

		&.right {
			@include border-radius(0, $border-radius, $border-radius, 0);

			.callout__image {
				background-image: url(../images/teaching.jpg);
			}
		}

		&.center {
			z-index: 150;

			@include rounded(0);

			.callout__image {
				background-image: url(../images/e778fc5706440df6b36447188469483d.jpg);
			}
		}

		&.highlight {
			position: relative;
			z-index: 1000;
			min-height: 55rem;

			background-color: #fff;
			border-bottom-color: $color-brand-primary;

			@include rounded($border-radius);
			@include box-shadow(0 0.5rem 2rem rgba(0, 0, 0, 0.5));

			.callout__body {
				.callout__content {
					.callout__title {
						font-size: 3.2rem;
					}
				}
			}
		}
	}
}

.cards {
	display: flex;
	margin: $spacing-lg 0 $spacing-lg -1rem;

	.card {
		display: flex;
		flex: 1 1 0%;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 1rem;
		margin-right: 1rem;

		background-color: #fafafa;
		border: 0.1rem solid lighten($color-brand-secondary-bright, 10%);

		@include rounded($border-radius);

		.card__image {}

		.card__block {
			padding: $spacing;

			.card__title {
				margin: 0 0 $spacing 0;

				text-align: center;
				font-weight: 400;
				font-family: $font-headings;
				font-size: 2.2rem;
				color: $color-brand-secondary;
			}

			.card__text {}
		}

		.card__footer {
			padding: $spacing;

			h3, h4 {
				margin: 0;
				padding: 0;

				&+ a {
					margin-top: $spacing;
				}
			}

			small {
				display: block;
				margin-top: 0.5rem;
			}

			a {
				text-transform: uppercase;
				font-size: $font-size-sm;
				font-weight: 500;

				&+ a {
					margin-left: $spacing-lg;
				}
			}
		}
	}
}

.event {
	display: flex;
	align-items: flex-start;
	padding: $spacing-lg 0;

	&.reverse {
		flex-direction: row-reverse;

		.event__image {
			padding: 0 0 0 $spacing-lg !important;
		}
	}

	.event__image {
		flex-grow: 2;
		padding: 0 $spacing-lg 0 0;

		img {
			border: 0.5rem solid #fff;

			@include rounded($border-radius-sm);
			@include box-shadow(0 0.25rem 1rem rgba(0, 0, 0, 0.25));
		}
	}

	.event__block {
		.event__title {
			margin-top: 0;
		}

		.event__subtitle {}
	}
}
