[viewBag]
==
<header class="home">
	<div class="container">
		{% partial "nav" %}

		<h1 class="visible-xs">Brian Jacobs Golf</h1>
	</div>
</header>

<aside>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="callouts callouts__cascade">
					<div class="callout__item white-border left">
						<div class="callout__image"></div>
						<div class="callout__body">
							<div class="callout__content">
								<h3 class="callout__title">About Us</h3>
								<p>We provide world-class golf coaching, partnering with <a href="{{ 'gca'|page }}">The Golf Channel Academy</a> and other <a href="{{ 'partner'|page }}">premier partners</a> to provide you with the best resources for your golf game.</p>
							</div>
							<div class="callout__footer">
								<a href="{{ 'instruction'|page }}" class="btn btn-default btn-lg btn-block">Learn More</a>
							</div>
						</div>
					</div>

					<div class="callout__item white-border center highlight">
						<div class="callout__image"></div>
						<div class="callout__body">
							<div class="callout__content">
								<h3 class="callout__title">New to Brian Jacobs Golf?</h3>
								<p>Get started with Brian Jacobs Golf today by booking a complementary New Student Assessment. This is a great way to see if we're the right fit for you and for us to evaluate your swing and work with you to develop a plan for improving.</p>
							</div>
							<div class="callout__footer">
								<a href="{{ 'new-students'|page }}" class="btn btn-primary btn-lg btn-block">Get Started Today</a>
							</div>
						</div>
					</div>

					<div class="callout__item white-border right">
						<div class="callout__image"></div>
						<div class="callout__body">
							<div class="callout__content">
								<h3 class="callout__title">Start Learning Today!</h3>
								<p>The first step to improving is committing to change. Book a lesson or enroll in a program today to start down the path of better golf and more enjoyment from the game.</p>
							</div>
							<div class="callout__footer">
								<a href="http://brianjacobsgolf.uschedule.com/OnlineAppointments.aspx" target="_blank" class="btn btn-default btn-lg btn-block">Book Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</aside>
