<div class="visible-xs">
	<nav>
		<div class="nav__item"><a href="{{ 'home'|page }}" class="brand"></a></div>
		<div class="nav__item">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
	</nav>
</div>

<div class="visible-sm visible-md visible-lg">
	<nav>
		<div class="nav__item"><a href="{{ 'home'|page }}">Home</a></div>
		<div class="nav__item"><a href="{{ 'instruction'|page }}">Instruction</a></div>
		<div class="nav__item"><a href="{{ 'home'|page }}" class="brand"></a></div>
		<div class="nav__item"><a href="{{ 'youth-golf'|page }}">Youth Golf</a></div>
		<div class="nav__item"><a href="http://brianjacobsgolf.uschedule.com/OnlineAppointments.aspx" target="_blank">Book Now</a></div>
	</nav>
</div>
