// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);

@import "_variables", "_fonts", "_mixins";

html {
	font-size: 62.5% !important;
}

body {
	line-height: 1.75;

	font-size: $font-size;
	font-family: $font-primary;
}

header {
	background-color: transparent;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-image: url(../images/bgd2b.jpg);
	background-size: cover;
	color: $color-brand-primary;

	.logo-masthead {
		height: 20rem;
		width: 75%;
		margin: 1rem auto;

		background-color: transparent;
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url(../images/logo-oneline-new.png);
		background-size: contain;
	}

	&.home {
		height: 55rem;
	}

	&.page {
		height: 30rem;

		.logo-masthead {
			height: 10rem;
		}
	}

	nav {
		display: flex;
		justify-content: space-between;
		padding: 3rem 0;

		.nav__section {
			display: flex;
			flex: 1 1 auto;
			align-items: center;

			/*&:first-child {
				flex: 1 1 25%;
			}*/

			.nav__item {
				display: flex;
				flex: 1 1 auto;
				align-items: center;

				a {
					display: block;
					margin: 0 auto;

					font-family: $font-condensed;
					font-weight: 400;
					font-size: 1.6rem;
					letter-spacing: 0.1rem;
					text-transform: uppercase;
					color: $color-brand-secondary-dark;

					&:hover {
						text-decoration: none;
						color: $color-brand-primary;
					}

					&:active, &:focus {
						color: darken($color-brand-primary, 5%);
						text-decoration: none;
					}

					&.brand {
						display: block;
						margin: 0;
						height: 8rem;
						width: 35rem;

						background-color: transparent;
						background-repeat: no-repeat;
						background-position: center center;
						/*background-image: url(../images/logo-formal-new.png);*/
						/*background-image: url(../images/logo-1.png);*/
						background-image: url(../images/logo-oneline.png);
						background-size: 35rem auto;
						background-clip: content-box;
					}
				}
			}
		}
	}
}

aside {
	position: relative;
	margin: -20rem 0 5rem 0;
}

main {
	position: relative;
	margin: -5rem 0 0 0;

	h1, h2, h3, h4 {
		margin-bottom: $spacing;

		font-family: $font-headings;
	}

	h1 {
		margin: 0 0 $spacing-lg 0;

		font-weight: 300;
		font-size: 5.4rem;
		color: $color-brand-primary;
	}

	h2 {
		font-weight: 400;
		font-size: 4rem;
		color: $color-brand-secondary-dark;
	}

	h3 {
		font-weight: 300;
		font-size: 3rem;
		color: $color-brand-secondary;
	}

	h4 {
		font-weight: 400;
		font-size: 2.25rem;
		color: darken($color-brand-secondary-bright, 25%);
	}

	p {
		margin: 0 0 $spacing 0;
	}

	dl {
		dt {
			margin-bottom: $spacing-sm;

			font-size: $font-size-md;
			font-weight: 500;
		}

		dd {
			margin: 0 0 $spacing $spacing;
			line-height: 1.75;

			font-size: $font-size;
		}
	}

	a {
		color: $color-brand-primary;

		&:hover {
			color: lighten($color-brand-primary, 7%);
		}
	}

	section {
		padding: $spacing-lg 0;

		&:first-child {
			padding-top: 0;
		}

		&.meet-brian {
			background-color: transparent;
			background-position: top right;
			background-repeat: no-repeat;
			background-image: url(../images/DSC_4158.jpg);
			background-size: cover;
		}

		&.staff-brian {
			background-color: transparent;
			background-position: top right;
			background-repeat: no-repeat;
			background-image: url(../images/Jacobs1.jpg);
			background-size: cover;
		}

		&.staff-brian-alt {
			background-color: transparent;
			background-position: top right;
			background-repeat: no-repeat;
			background-image: url(../images/Jacobs.jpg);
			background-size: cover;
		}

		&.staff-rob {
			background-color: transparent;
			background-position: top right;
			background-repeat: no-repeat;
			background-image: url(../images/Rob1.jpg);
			background-size: cover;
		}

		&.staff-gonzalez {
			background-color: transparent;
			background-position: top left;
			background-repeat: no-repeat;
			background-image: url(../images/Gonzalez1.jpg);
			background-size: cover;
		}

		&.staff-ross {
			background-color: #eaeaea;
			// background-color: transparent;
			// background-position: top left;
			// background-repeat: no-repeat;
			// background-image: url(../images/Ross1.jpg);
			// background-size: cover;
		}

		&.events {
			background-color: #eaeaea;
		}

		&.tour-experience-morning {
			background-color: transparent;
			background-position: bottom right;
			background-repeat: no-repeat;
			background-image: url(../images/tour1.jpg);
			background-size: cover;
		}

		&.tour-experience-afternoon {
			background-color: transparent;
			background-position: center left;
			background-repeat: no-repeat;
			background-image: url(../images/tour2.jpg);
			background-size: cover;
		}

		&.instruction-philosophy {
			background-color: transparent;
			background-position: center center;
			background-repeat: no-repeat;
			background-image: url(../images/DSC_3854.jpg);
			background-size: cover;
		}

		.section__content {
			margin: $spacing-lg 0 0 0;
			padding: $spacing-lg;

			background-color: #fafafa;
			border-bottom: 0.5rem solid $color-brand-primary;

			@include rounded($border-radius);
			@include box-shadow(0 0.5rem 1.75rem rgba(0, 0, 0, 0.4));

			h2, h3 {
				margin-top: 0;
			}
		}
	}
}

footer.footer {
	padding: $spacing-lg 0;
	line-height: 1.65;

	background-color: $color-brand-secondary;
	color: darken($color-brand-secondary-bright, 20%);

	.footer__title {
		font-family: $font-condensed;
		font-weight: 400;
		color: #fff;
		color: $color-brand-secondary-bright;
		font-size: $font-size-md;
	}

	p, li {
		font-size: $font-size-sm;
	}

	ul {
		li {
			a {
				color: darken($color-brand-secondary-bright, 30%);

				&:hover, &:active, &:focus {
					color: $color-brand-secondary-bright;
					text-decoration: none;
				}
			}
		}
	}

	a {
		color: darken($color-brand-secondary-bright, 30%);

		&:hover,
		&:active,
		&:focus {
			color: $color-brand-secondary-bright;
			text-decoration: none;
		}
	}
}

.btn {
	font-weight: 400;

	@include rounded($border-radius);

	&.btn-primary {
		@include btn-pseudo-states(#fff, $color-brand-primary, $color-brand-primary);
	}

	&.btn-default {
		@include btn-pseudo-states(
			$color-brand-secondary-dark,
			lighten($color-brand-secondary-bright, 4%),
			lighten($color-brand-secondary-bright, 4%)
		);
	}

	&.btn-warning {}

	&.btn-success {}

	&.btn-info {}

	&.btn-danger {}

	&.btn-inverse {
		@include btn-pseudo-states(#fff, $color-brand-secondary, $color-brand-secondary);
	}

	&.btn-link {
		color: $color-brand-primary;

		&.btn-link-warning {
			color: $color-warning;
		}
	}

	&.btn-circle {
		padding: 9px 10px;

		background: transparent;
		border-width: 2px;
		border-radius: 100px;
		font-size: 18px;
	}
}

.text-muted {
	color: darken($color-brand-secondary-bright, 25%);
}

.text-sm {
	font-size: $font-size-sm;
}

.lead {
	font-size: $font-size-lg;
}

.partner-img {
	display: block;
	margin: 0 auto;
}

.gca {
	display: block;
	margin: 2.5rem 0;
	height: 1.8rem;
	width: 20rem;

	background-color: transparent;
	background-position: top left;
	background-repeat: no-repeat;
	background-image: url(../images/gca.png);

	&.gca-sm {
		background-image: url(../images/gca-sm.png);
	}

	&.gca-lg {
		height: 11rem;
		width: 100%;

		background-image: url(../images/Academy_Stacked_Render_RGB.png);
		background-size: cover;
	}
}

.callouts {
	display: flex;
	margin: $spacing-lg 0;

	&.callouts__cascade {
		align-items: center;
	}

	.callout__item {
		display: flex;
		flex: 1 1 0%;
		flex-direction: column;
		z-index: 100;
		min-height: 45rem;

		background-color: #fafafa;
		border-top: 0.5rem solid $color-brand-secondary-dark;
		border-bottom: 0.5rem solid $color-brand-secondary-dark;

		@include box-shadow(0 0.25rem 1rem rgba(0, 0, 0, 0.25));

		&.white-border {
			border-top-color: white !important;
		}

		.callout__image {
			height: 18rem;
			width: 100%;

			background-color: transparent;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
		}

		.callout__block {
			display: flex;
			flex: 1 1 auto;
			flex-direction: column;
			justify-content: space-between;

			.callout__content {
				padding: $spacing $spacing-lg;

				.callout__title {
					margin: 0 0 $spacing 0;

					text-align: center;
					font-weight: 400;
					font-family: $font-headings;
					font-size: 2.4rem;
					color: $color-brand-secondary;
				}

				a {
					color: $color-brand-primary;
				}
			}

			.callout__footer {
				padding: $spacing;

				small {
					display: block;
					margin-top: 0.5rem;
				}
			}
		}

		&.left {
			@include border-radius($border-radius, 0, 0, $border-radius);

			.callout__image {
				background-position: top center;
				// background-image: url(../images/teaching-2.jpg);
				background-image: url(../images/takeaway-promo.jpg);
				// background-image: url(../images/christmas.jpg);
			}
		}

		&.right {
			@include border-radius(0, $border-radius, $border-radius, 0);

			.callout__image {
				background-position: top center;
				background-image: url(../images/DSC_3902.jpg);
			}
		}

		&.center {
			z-index: 150;

			@include rounded(0);

			.callout__image {
				background-position: top center;
				background-image: url(../images/teaching-1d.jpg);
				/*background-image: url(../images/nsa-banner.jpeg);*/
			}
		}

		&.highlight {
			position: relative;
			z-index: 1000;
			min-height: 57.5rem;

			background-color: #fff;
			border-color: $color-brand-primary;

			@include rounded($border-radius);
			@include box-shadow(0 0.5rem 2rem rgba(0, 0, 0, 0.5));

			.callout__body {
				.callout__content {
					.callout__title {
						font-size: 3.2rem;
					}
				}
			}
		}
	}
}

.cards {
	display: flex;
	margin: $spacing-lg 0 $spacing-lg -1rem;

	.card {
		display: flex;
		flex: 1 1 0%;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 1rem;
		margin-right: 1rem;

		background-color: #fafafa;
		border: 0.1rem solid lighten($color-brand-secondary-bright, 10%);

		@include rounded($border-radius);

		&.card__plain {
			background: transparent;
			border-color: transparent;
		}

		.card__image {
			img {
				@include border-radius($border-radius, $border-radius, 0, 0);
			}
		}

		.card__block {
			padding: $spacing;

			.card__title {
				margin: 0 0 $spacing 0;

				text-align: center;
				font-weight: 400;
				font-family: $font-headings;
				font-size: 2.2rem;
				color: $color-brand-secondary;
			}

			.card__text {}
		}

		.card__footer {
			padding: $spacing;

			h3, h4 {
				margin: 0;
				padding: 0;

				&+ a {
					margin-top: $spacing;
				}
			}

			small {
				display: block;
				margin-top: 0.5rem;
			}

			a {
				text-transform: uppercase;
				font-size: $font-size-sm;
				font-weight: 500;

				&+ a {
					margin-left: $spacing-lg;
				}
			}
		}
	}
}

.event {
	display: flex;
	align-items: flex-start;
	width: 100%;
	padding: $spacing-lg 0;

	&.reverse {
		flex-direction: row-reverse;

		.event__image {
			padding: 0 0 0 $spacing-lg !important;
		}
	}

	&.centered {
		align-items: center;
	}

	.event__image {
		flex: 2 0 50%;
		padding: 0 $spacing-lg 0 0;

		img {
			display: block;
			width: 100%;

			border: 0.5rem solid #fff;

			@include rounded($border-radius-sm);
			@include box-shadow(0 0.25rem 1rem rgba(0, 0, 0, 0.25));
		}

		&.md {
			flex: 2 0 35%;
		}

		&.sm {
			flex: 2 0 25%;
		}

		&.no-decoration {
			img {
				border: none;

				@include rounded(0rem);
				@include clear-box-shadow;
			}
		}
	}

	.event__block {
		flex: 1 1 auto;

		.event__title {
			margin-top: 0;
		}
	}
}

.text-liked {
	color: $color-pink-500;
}

.text-subtle {
	color: $color-brand-secondary-dark;
}

.alert {
	border-radius: 0;
	border-left-width: 0;
	border-right-width: 0;
}

video {
	width: 100%;
	max-width: 800px;
	height: auto;
	display: block;
	margin: 1em auto;
}

video + .caption {
	width: 100%;
	max-width: 800px;
	display: block;
	margin: 1em auto 2em auto;
}

.thumbnail {
	video {
		margin: 0;
	}
}

a.thumbnail {
	padding: 1.5rem;

	video {
		margin: 0;
	}

	&:hover {
		text-decoration: none;
		border-color: $color-brand-primary;
		color: $color-brand-primary;

		h3 {
			color: $color-brand-primary;
		}

		i,
		.svg-inline--fa {
			color: $color-brand-primary;
		}
	}
}

.label {
	font-weight: 400;
}

.align-center {
	text-align: center !important;
}

.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: .25rem; }
.mb-2 { margin-bottom: .5rem; }
.mb-3 { margin-bottom: 1rem; }
.mb-4 { margin-bottom: 1.5rem; }

.mr-0 { margin-right: 0; }
.mr-1 { margin-right: .25rem; }
.mr-2 { margin-right: .5rem; }
.mr-3 { margin-right: 1rem; }
.mr-4 { margin-right: 1.5rem; }
.mr-auto { margin-right: auto; }

.ml-0 { margin-left: 0; }
.ml-1 { margin-left: .25rem; }
.ml-2 { margin-left: .5rem; }
.ml-3 { margin-left: 1rem; }
.ml-4 { margin-left: 1.5rem; }
.ml-auto { margin-left: auto; }

.mt-0 { margin-top: 0; }
.mt-1 { margin-top: .25rem; }
.mt-2 { margin-top: .5rem; }
.mt-3 { margin-top: 1rem; }
.mt-4 { margin-top: 1.5rem; }
.mt-5 { margin-top: 2rem; }
.mt-6 { margin-top: 3rem; }

.mx-0 { margin-left: 0; margin-right: 0; }
.mx-1 { margin-left: .25rem; margin-right: .25rem; }
.mx-2 { margin-left: .5rem; margin-right: .5rem; }
.mx-3 { margin-left: 1rem; margin-right: 1rem; }
.mx-4 { margin-left: 1.5rem; margin-right: 1.5rem; }

.my-0 { margin-bottom: 0; margin-top: 0; }
.my-1 { margin-bottom: .25rem; margin-top: .25rem; }
.my-2 { margin-bottom: .5rem; margin-top: .5rem; }
.my-3 { margin-bottom: 1rem; margin-top: 1rem; }
.my-4 { margin-bottom: 1.5rem; margin-top: 1.5rem; }

.d-flex {
	display: flex !important;
}

.flex-direction-column {
	flex-direction: column !important;
}

.flex-direction-row {
	flex-direction: row !important;
}

.flex-direction-row-reverse {
	flex-direction: row-reverse !important;
}

.align-items-center {
	align-items: center !important;
}

.justify-content-around {
	justify-content: space-around !important;
}

.justify-content-between {
	justify-content: space-between !important;
}

.justify-content-start {
	justify-content: flex-start !important;
}

.justify-content-end {
	justify-content: flex-end !important;
}

.justify-content-center {
	justify-content: center !important;
}

.staff {
	display: flex;
	flex-direction: column;
	margin: 4rem auto 2rem auto;

	> .staff-item {
		display: flex;
		margin-bottom: 3rem;

		div:first-child {
			margin-right: 2rem;
		}

		h2 {
			margin-top: 0;
		}

		&:nth-child(even) {
			flex-direction: row-reverse;

			div:first-child {
				margin-left: 2rem;
				margin-right: 0;
			}
		}
	}
}
