@import "_variables", "_mixins";

/* xs */
@media (max-width: 767px) {
	header {
		height: auto;
		padding-bottom: 6rem;

		&.home,
		&.page {
			height: auto;
		}

		.btn {
			&.btn-primary {
				background: rgba(255, 255, 255, .25);
				border-width: 2px;
				color: $color-brand-primary;

				span {
					font-size: 90%;
				}
			}
		}

		.logo-masthead {
			display: none;
		}
	}

	aside {
		margin: -5rem 0 $spacing-lg 0;
	}

	nav {
		align-items: center;

		.nav__item {
			padding: 0 1rem;
			width: 100%;

			.dropdown {
				.navbar-toggle {
					border: none;
					background-color: transparent;
					float: none;
					padding: 0 16px 0 0;
					margin: 0;
				}

				.dropdown-menu {
					right: 0;
					left: auto;
					z-index: 2000;

					@include rounded($border-radius);

					li {
						a {
							font-family: $font-primary;
							font-weight: 400;
							font-size: $font-size-md;
							color: $color-brand-secondary;
							text-shadow: none;
							text-transform: none;
							text-align: right;
						}
					}
				}
			}

			a {
				&.brand {
					margin: 0 !important;
				}
			}
		}
	}

	footer {
		.copyright {
			text-align: center;
		}

		.gca {
			width: 100%;

			background-position: top center;
		}
	}

	.callouts {
		flex-direction: column;

		&.callouts__cascade {
			align-items: flex-start;
		}

		.callout__item {
			width: 100%;
			display: block;
			min-height: auto;
			margin-bottom: $spacing-lg;

			.callout__image {
				border-top: none;
			}

			&.center {
				order: 1;
			}

			&.left {
				order: 3;
			}

			&.right {
				order: 2;
			}

			&.left, &.right {
				@include rounded($border-radius);
			}

			&.highlight {
				@include box-shadow(0 0.25rem 1rem rgba(0, 0, 0, 0.25));
			}
		}
	}

	.cards {
		flex-direction: column;
		align-items: flex-start;
		margin: $spacing-lg 0;

		.card {
			width: 100%;
			display: block;
			min-height: auto;
			margin: $spacing 0;
		}
	}

	.event {
		flex-direction: column;

		&.reverse {
			flex-direction: column;

			.event__image {
				padding: 0 0 $spacing 0 !important;
			}
		}

		.event__image {
			flex: 1 1 100%;
			margin: 0 auto;
			padding: 0 0 $spacing 0 !important;
		}

		.event__block {
			flex: 1 1 100%;
		}
	}

	.staff-title {
		display: flex !important;
		align-items: center;
		margin-bottom: 1em;

		img {
			margin-right: 1em;
		}

		h2 {
			margin: 0;

			font-size: 2em;

			small {
				display: block;
				margin-top: 0.1em;
			}
		}
	}

	.flex-direction-column-xs {
		flex-direction: column !important;
	}
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	.event {
		.event__image {
			flex: 2 0 35%;
		}

		.event__block {
			flex: 1 1 auto;
		}
	}

	.staff-title {
		display: flex !important;
		align-items: center;
		margin-bottom: 1em;

		img {
			margin-right: 1em;
		}

		h2 {
			margin: 0;

			font-size: 2em;

			small {
				display: block;
				margin-top: 0.1em;
			}
		}
	}
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	header {
		nav {
			.nav__section {
				.nav__item {
					a {
						&.brand {
							width: 32.5rem;

							background-size: 32.5rem auto;
						}
					}
				}
			}
		}
	}
}

/* lg */
@media (min-width: 1200px) {
.section__content {
	h2 {
		small {
			display: block;
			margin-top: .25rem;
		}
	}
}
}
